.App h1 {
  text-decoration: underline;
  padding: 5px;
  display: grid;
  justify-content: center;
  margin:0 auto;
}

.PostItem {
  color:grey;
  border: 3px solid black;
  padding:5px;
  width: 60%;
  max-width: 60%;
  min-height: 190px;
  text-overflow: ellipsis;
  border-radius: 20px;
  display:block;
  margin:0 auto;
  margin-bottom: 20px;
  align-items: center;
}
.PostItem h2 {
  color:#444;
}
.PostItem p{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.PostItem h2 i{
  color:grey;
}
.votes{
  margin:5px;
  background-color: #444;
  display: inline-block;
  border-radius: 10px;
}
.likes, .dislikes, .total{
  border:none;
  height:40px;
  display: inline-block;
  justify-content: right;
  width:90px;
  padding:10px;
  text-align: center;
  border-radius: 10px;
  background-color: #444;
}
.likes:focus, .dislikes:focus{
  border:2px solid;
  outline:none;
}
.total{
  pointer-events: none;
  min-width: 90px;
}
/* .total:target, .total:focus{
  border:none;
  outline:none;
} */
.likes{color:lightgreen}
.dislikes{color:rgb(255, 0, 0)}
.total{color:white}
.SearchBar{
  width:80%;
  margin:auto;
}
.SearchBar input{
  height: 50px;
  width:55%;
  float: none;
  font-size: large;
  border-radius:8px;  
  margin-left: 20%;
}
.SearchBar button{
  height:50px;
  width:50px;
  border:none;
  border-radius: 8px;
  float: none;
  font-size: larger;
  margin:auto;
  margin-left: 4px;
}
.SearchBar input:focus {
  border:solid #55f; 
  border-radius: 8px;
  outline:none;
}

nav a{
  text-decoration: none;
  font-size: x-large;
  padding:4px;
  width: 50px;
  display: inline;
  justify-content: center;
  text-align: center;
  color:black;
  border: 2px solid black;
  border-radius: 8px;
}